<!DOCTYPE html>
<html>
    <head>
        <title>{{ titolo }}</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <!-- HEADER-->
        {{> header }}
        <h1>Sono la home page</h1>
        <h3>{{ titolo }} di {{ nome }}</h3>
         <!-- FOOTER-->
        {{> footer }}
    </body>
</html>